<div class="container">
  <div class="row">
    <div class="col-md-10 pt-3 offset-md-1">
      <head>
        <%= stylesheet_link_tag 'signup', media: 'all', 'data-turbolinks-track': 'reload' %>
      </head>
      <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <h5>新規会員登録</h5>
          <table>
            <tr>
              <th>
                <%= f.label :名前 %>
              </th>
              <td>
                <%= f.label :（姓） %>
              </td>
              <td>
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和" %>
              </td>
              <td>
                <%= f.label :（名） %>
              </td>
              <td>
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "道子"  %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :フリガナ %>
              </th>
              <td>
                <%= f.label :（セイ） %>
              </td>
              <td>
                <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "レイワ"  %>
              </td>
              <td>
                <%= f.label :（メイ） %>
              </td>
              <td>
                <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "ミチコ"  %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :メールアドレス %>
              </th>
              <td></td>
              <td>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com"  %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :郵便番号 %>
              </th>
              <td></td>
              <td>
                <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", placeholder: "0000000"  %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :住所 %>
              </th>
              <td></td>
              <td>
                <%= f.text_field :address, autofocus: true, size: "30x20", autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0"  %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :電話番号（ハイフンなし）%>
              </th>
              <td></td>
              <td>
                <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "0000000000"  %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :パスワード %>
                <% if @minimum_password_length %>
                  (<%= @minimum_password_length %> 文字以上）
                <% end %><br />
              </th>
              <td></td>
              <td>
                <%= f.password_field :password, autocomplete: "new-password" %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :パスワード（確認用）%>
              </th>
              <td></td>
              <td>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <button type="submit" class="btn btn-success">新規登録</button>
              </td>
            </tr>
          </table>
        <% end %>
  
        <h5>既に登録済みの方</h5>
          <p>
            <%= link_to "こちら", new_customer_session_path %>
            からログインしてください。
          </p>
    </div>
  </div>
</div>
>>>>>>> origin/develop
