
<div class="container">
  <div class="row">
    <div class="col-md-10 pt-3 offset-md-1">
    
      <%= form_with model: @address, url: addresses_path do |f| %>
      <h4>配送先登録/一覧</h4>
          <table>
            <tr>
              <th>
                <%= f.label :郵便番号（ハイフンなし） %>
              </th>
              <td></td>
              <td>
                <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", placeholder: "0000000"  %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :住所 %>
              </th>
              <td></td>
              <td>
                <%= f.text_field :shipping_address, autofocus: true, size: "30x20", autocomplete: "shipping_address", placeholder: "東京都渋谷区代々木神園町0-0"  %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :宛名 %>
              </th>
              <td></td>
              <td>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "令和道子"  %>
              </td>
              <td>
                <button type="submit" class="btn btn-success">新規登録</button>
              </td>
            </tr>
          </table>
          
          <table>
            <tr>
              <th>
                <%= f.label :郵便番号（ハイフンなし） %>
              </th>
              <th>
                <%= f.label :住所 %>
              </th>
              <th>
                <%= f.label :宛名 %>
              </th>
              <th></th>
            </tr>
            <tr>
              <% @addresses.each do |address| %>
              <td><%= address.post_code %></td>
              <td><%= address.shipping_address %></td>
              <td><%= address.name %></td>
              <td></td>
              <% end %>
            </tr>
          </table>
      <% end %>
    </div>
  </div>
</div>